 
#id-social-table{
  margin-top: 50px;
}
  
  body .fax {
    font-size: 3em;
    width: 2em;
    height: 1.5em;
    text-align: center;
  }

  .social-icon{
    background-color: aliceblue;
  }

 

  